*{
   
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
body{
    margin: 0;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    background: #111;
    color: white;
    min-height:100vh;
}
.box{
    background:rgb(0, 255, 55);
    max-width: 360px;
    border-radius: 14px;
    text-align: center;
    padding: 25px;
}
#screen{
    margin: 20px;
    background: red;
    justify-content: center;
    align-items: center;
    font: size 1.6em;
    border-radius: 10px;
    font-weight:bold;
   height:120px;
   max-height:90vh;
   overflow-y:auto;

}
button{
    width: 100%;
    padding: 14px;
    border: none;
    color: black;
    background:#d4af37;
   disply:block;
   margin-top:15px;

}
@media screen and (max-width:500px){

    .box{
        width:70%
        margin: 20px auto;
    }
    
    h1{
        font-size:1.4rem;
    }
    button
    {
        width:100%;
        font-size:1.1rem;
        
    }
    body{
        display:flex;
        justify-content: center;
        align-items: center;
    }
}



