*{
   margin:0;
   padding:0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
     touch-action: manipulation;

}
h1{
    color:aquamarine;
    margin-bottom: 15px;
}
body{
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    background: #111;
    color: white;
    min-height:100vh;
        transform: scale(1.08);
}
.box{
     width: 400px;
    text-align: center;
    padding: 20px;
    background: #000080;
    border-radius: 12px;
    margin: 50px auto;
    text-align: center;
    width:90%;
    

}
#screen{
    margin: 20px;
    background: red;
    justify-content: center;
    align-items: center;
    font: size 1.6em;
    border-radius: 10px;
    font-weight:bold;

}
button{
    width: 100%;
    padding: 14px;
    border: none;
    color: black;
    background:#d4af37;
    position: relative;
    cursor: pointer;

}
@media screen and (max-width:600px){

    .box{
        width:90%;
        margin: 20px auto;
    }
    
    h1{
        font-size:1.4rem;
    }
    button
    {
        width:100%;
        font-size:1.1rem;
        
    }
    body{
        display:flex;
        justify-content: center;
        align-items: center;
    }
}

